<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GitHub Timeline</title>
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
        <div id="container-search" class="container-details">
            <h1 class="searc-header">Enter a username and generate your github timeline</h1>
            <form class="search-box" action="/timeline" method="GET">
                <input name="username" class="search-field" type="text" placeholder="username..." required>
                <button class="see-results">Generate</button>
            </form>
        </div>
    </body>
</html>