<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/alert-message.css" />
  </head>
  <body>
    <%- include('partials/search-bar.ejs') %>

    <section class="timeline-container">
        <h1>Failed to generate. Please, insert a valid username</h1>
      </section> 
</body>>