<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/timeline.css" />
  </head>
  <body>
    <%- include('partials/search-bar.ejs') %>
     
    <section class="timeline-container">
      <h1 class="timeline-header">Repository Timeline</h1>
    </section>
    <section class="timeline">
      <ul>
        <% reposObject.repos.forEach(repo => { %>  
          <li>
            <div class="timeline-item">
                <time pubdate><%- repo.createdAt %></time>  
                <h3><%- repo.name %></h3>
                <p><%- repo.description %></p> 
              </div>
          </li>
        <% }); %>
      </ul>
    </section>
  </body>
</html>
